#fader {
    width: 50px;
    height: 20px;
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
    text-align: right;

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 50px;
        background: none;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;

        &::-webkit-slider-thumb {
            width: 1px;
            height: 20px;
            background: none;
            cursor: pointer;
            -webkit-appearance: none;
        }
        &::-moz-range-track {
            background: none;
        }
        &::-moz-range-thumb {
            width: 1px;
            height: 20px;
            background: none;
            border: 0;
            cursor: pointer;
            -moz-appearance: none;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        pointer-events: none;
        overflow: hidden;
        &.disabled {
            opacity: 0.2;
        }

        .rect {
            background: #fff;
        }
    }
    .rectangles {
        width: 50px;
        pointer-events: none;
    }
    .rect {
        display: inline-block;
        background: rgba(255,255,255,0.2);
        width: 5px;
        margin-right: 2px;
        vertical-align: bottom;
        line-height: 1;
        font-size: 1px;
    }
    @for $i from 1 through 7 {
        .rect#{$i} {
            height: #{$i * 3}px;

        }
    }
}
