header {
    flex: 1 510px;
    flex-shrink: 0;
    flex-grow: 0;
    color: $white;

    button, .btn, .icon {
        color: $white;
    }

    .page-header {
        margin-top: 0;
        padding: 15px;
        background-image: linear-gradient(to bottom, rgba($white,0), rgba($white,0.03)),linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 0.05) 100%);
        border: none;
        height: 64px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 1px;
            width: 100%;
            background-image: linear-gradient(to right, transparent 0%, rgba($black, 0.07) 15%, rgba($black, 0.1) 50%, rgba($black, 0.1) 85%, rgba($black, 0.1) 100%);
        }

        button {
            font-size: 20px;
            background: none;
        }
    }
}
#fixed {
    position: fixed;
    width: 510px;
    top: 0;
    bottom: 0;
    left: 0;
}

#now-playing {
    font-size: 12px;
    width: 430px;
    line-height: 1;

    button {
        width: 30px;
        height: 30px;
        padding: 6px;
    }
    .user-avatar {
        margin: 0 10px;
    }
    .details {
        margin-bottom: 4px;
    }
    .title {
        width: 340px;
    }
    .date {
        color: rgba($white, 0.5);
    }
}
#visuals {
    margin-left: 30px;
}
#waveform {
    position: relative;
    width: 450px;
    margin: 30px 30px 0px;
    margin-left: 30px;

    .seek-time {
        position: absolute;
        z-index: 3;
        top: 38px;
        pointer-events: none;
        color: $white;
        background: $black;
        padding: 0 4px;
        border-radius: 4px;
    }
}
#waveform-canvas-buffer-wrapper,
#waveform-canvas-seek-wrapper,
#waveform-canvas-progress-wrapper {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 0;
}
#waveform-seekbar {
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
#waveform-canvas-mask {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    cursor: not-allowed;
}
.time {
    margin-bottom: 30px;
    padding: 0 30px;
    .current {
        float: left;
    }
    .total {
        float: right;
    }
}
#osc {
    margin-bottom: 30px;
}
#analyser {
    position: relative;
    margin-bottom: 30px;
}
#analyser-top {
    position: absolute;
    top: 0;
}

#credits {
    position: absolute;
    bottom: 30px;
    left: 30px;
    img {
        vertical-align: middle;
    }
}
#theme-changer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 75px;
    text-align: right;
    button {
        width: auto;
        margin-top: 4px;
        &.active {
            background: rgba($white, 0.5);
        }
    }
}
