.loading-overlay {
    background: rgba(0,0,0,0.5);
    max-width: 1090px;
    position: fixed;
    left: 510px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: opacity 1s ease-out;
    @include ng-if;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -66px;
    height: 100px;
    padding-top: 80px;
    margin-top: -50px;
    background: url(../images/sc2_small.png) top center no-repeat;
}

.spinner {
    height: 20px;
    text-align: center;
    font-size: 10px;
    width: 132px;

    & > div {
        background-color: #000;
        height: 100%;
        width: 4px;
        margin-right: 2px;
        float: left;
        transform-origin: 100% 100%;

        -webkit-animation: stretchdelay 1.0s infinite ease-in-out;
        animation: stretchdelay 1.0s infinite ease-in-out;
    }
    @for $i from 1 through 22 {
        .rect#{$i} {
            -webkit-animation-delay: #{(0-$i/20)}s;
            animation-delay: #{(0-$i/20)}s;
        }
    }
}

@-webkit-keyframes stretchdelay {
    0%, 100% { -webkit-transform: scaleY(0.2) }
    50% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 100% {
        transform: scaleY(0.2);
        -webkit-transform: scaleY(0.2);
    }  50% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
