#main {
    button, .btn, .icon {
        color: $white;

        &.like.favorite {
            color: #dd0000;
        }
    }

    .page-header {
        position: fixed;
        top: 61px;
        left: 510px;
        right: 0;
        // padding: 15px;
        height: 64px;
        background-image: linear-gradient(to bottom, rgba($white, 0),rgba($white, 0.03)),linear-gradient(to right, rgba($white, 0.05) 0%, rgba($white, 0) 100%);
        z-index: 1;
        display: flex;
        // max-width: 1090px;
        color: $white;
        // background: black;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 1px;
            width: 100%;
            background-image: linear-gradient(to left, transparent 0%, rgba($black, 0.07) 15%, rgba($black, 0.1) 50%, rgba($black, 0.1) 85%, rgba($black, 0.1) 100%);
        }
        #active-stream-switch {
            flex: 400px;
            flex-shrink: 0;
            button {
                width: 33.33%;
                float: left;
                border-radius: 0;
                height: 64px;
                background: none;

                &.active {
                    // border-bottom: 2px solid $white;
                    background: rgba($white, 0.2);
                }
            }
            .count {
                font-size: 12px;
                background: rgba($white, 0.2);
                color: $white;
                border-radius: 4px;
                padding: 1px 5px;
                margin-left: 4px;
            }
        }
        .icon-search {
            flex: 30px;
            flex-shrink: 0;
            display: block;
            text-align: center;
            font-size: 20px;
            margin-right: 10px;
            line-height: 34px;
            padding: 15px 0 15px 15px;
        }
        .search {
            flex: 100%;
            display: flex;
            padding: 15px 15px 15px 0;
        }
        input {
            flex: 100%;
            display: inline-block;
            border: none;
            box-shadow: none;
            padding: 0 0 0 10px;
            outline: none;
            font-size: 14px;
            vertical-align: bottom;

            &:focus {
                box-shadow: none;
            }
        }
        .close {
            font-size: 30px;
        }
        #new {
            flex: 120px;
            flex-shrink: 0;
            text-align: right;
            font-size: 12px;
            color: #ccc;
            margin: auto;
            .new-count {
                background: #ff0000;
                color: $white;
                border-radius: 4px;
                padding: 0 5px;

                .icon-new {
                    color: $white;
                }
            }
        }
        #settings {
            margin: auto 20px;
            flex: 170px;
            flex-shrink: 0;
            text-align: right;
            border-left: 1px solid #eee;

            .btn {
                background: none;
                font-size: 20px;
                height: auto;
            }
        }
        #theme-changer {
            color: $white;
            background: $black;
            padding: 20px;
            text-align: left;
            position: absolute;
            top: 64px;
            right: 0;
            width: 135px;
            font-size: 12px;
            span {
                display: block;
            }
            button {
                color: $black;
                font-size: 14px;
                width: auto;
                margin-top: 4px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

#reposts-toggle,
#single-track-playlists-toggle,
#auto-advance {
    opacity: 0.3;
    transition: opacity 0.3s ease-out;
    &.active {
        opacity: 1;
    }
    input {
        display: none !important;
    }
}

#error {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    height: 260px;
    margin-top: -130px;
    color: #ff0000;
    font-size: 20px;
    text-align: center;
    a {
        color: #ff0000;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 1px solid #ff0000;
        font-weight: bold;
        margin-left: 5px;
    }
    .icon {
        font-size: 200px;
        width: 200px;
        margin: 0px auto;
        display: block;

    }
}
#main #error .icon {
    color: #ff0000;
}


.content {
    margin-top: 65px;
}
// item
.item {
    position: relative;

    .icon-fiber_new {
        display: none;
    }
    &.new {
        .icon-fiber_new {
            color: #ff0000;
            font-size: 20px;
            margin-left: 5px;
            display: inline;
        }
    }

    &.active .flex{
        background: rgba($white, 0.4);
        border-bottom: none;
    }

    &:last-child {
        // border: none;
    }

    .flex {
        display: flex;
        flex-direction: row;
        padding: 30px;
        background: rgba($white, 0.2);
        margin-bottom: 1px;
        .meta {
            flex: 1 130px;
            flex-shrink: 0;
            flex-grow: 0;
        }
        .details {
            flex: 1 100%;
        }
    }

    .controls {
        margin-right: 5px;
        button {
            width: 65px;
            height: 65px;
            font-size: 30px;
            line-height: 57px;
            background: rgba($white, 0.4);
            border: none;
        }
    }

    .playlist-mark {
        margin-right: 5px;
        .btn {
            width: 65px;
            height: 65px;
            font-size: 30px;
            line-height: 65px;
            border: none;
            .plno {
                font-size: 20px;
                vertical-align: top;
                line-height: 62px;
            }
        }
    }

    .icon-repeat {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        border-radius: 4px;
        background: rgba($white, 0.2);
    }

    .head {
        display: flex;

        .main {
            flex: 1 100%;
        }
        .buttons {
            text-align: right;
            margin-right: 10px;
            flex: 1 160px;
            flex-shrink: 0;
        }
    }

    .user-name,
    .date {
        font-size: 12px;
    }
    .date {
        color: rgba($white, 0.5);
        &:before {
            content: '\0020\2022\0020';
        }
    }

    .toggledesc {
        height: 20px;
        button {
            padding: 0;
            border: none;
            font-size: 20px;
            line-height: 1;
            background: rgba(white, 0.1);
            width: 20px;
            height: 20px;
            overflow: hidden;
            .icon-more {
                line-height: 10px;
            }
        }
    }
    .description {
        display: flex;
        margin: 15px 0 0;
        padding: 15px 0 0;
        border-top: 1px solid #eee;
        img {
            margin: 0 10px 0 30px;
            height: 100px;
            flex: 100px;
            flex-shrink: 0;
        }
        .track-desc {
            flex: 100%;

            font-size: 12px;
            a {
                text-decoration: underline;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .duration {
        text-align: right;
        margin-right: 5px;
    }

    .buy,
    .like,
    .download {
        width: 30px;
        height: 30px;
        padding: 6px;
        border: none;
        color: $white;
        vertical-align: middle;
    }

    .track-progress {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        background: rgba($white, 0.4);
    }
}
.separator {
    text-align: center;
    padding: 20px;

    .icon {
        font-size: 30px;
    }
}

.playlist-tracks {
    .controls {
        margin-left: 10px;
        button {
            width: 30px;
            height: 30px;
            padding: 5px;
            background: none;
            border: none;
            font-size: 20px;
            line-height: 20px;
        }
    }
    .item.active {
        background: none;

        .flex {
            background: rgba($white, 0.4);
        }
    }
    .flex {
        border: none;
        border-radius: 4px;
        margin-bottom: 2px;
        padding: 10px 0 0;
        .meta {
            flex: 50px;
        }

    }
    .description {
        margin-bottom: 20px;
        border-top: 1px solid $white;
    }
}

#more {
    margin: 0 auto 30px;
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid $white;
    color: $white;
    line-height: 1;
    transition: 0.3s ease-in background-color;

    &:hover {
        background-color: rgba($white,0.3);
    }
}

// tabs
#tiles {
    opacity: 0;
    // transition: 0.3s ease-out opacity; // fucks up ng-show
    &.loaded {
        opacity: 1;
    }
}
#followings {
    .user-avatar {
        width: 100px;
        height: 100px;
    }
    .website {
        font-size: 12px;
    }
    .head {
        .buttons {
            button {
                width: auto;
            }
        }
    }
    .follow {
        margin-left: 4px;
    }
}
