$white: #ffffff;
$black: #000000;
$grey: #212121;

@mixin ng-show-hide {
    &.ng-hide-remove {
        opacity: 0;
        display: block !important;

        &.ng-hide-remove-active {
            opacity: 1;
        }
    }

    &.ng-hide-add {
        opacity: 1;
        display: block !important;

        &.ng-hide-add-active {
            opacity: 0;
        }
    }
}

@mixin ng-if {
    &.ng-enter {
        opacity: 0;
        display: block !important;

        &.ng-enter-active {
            opacity: 1;
        }
    }

    &.ng-leave {
        opacity: 1;
        display: block !important;

        &.ng-leave-active {
            opacity: 0;
        }
    }
}

@mixin bg-default {
    background-image: linear-gradient(to top, #65b184, #028793);
}

@mixin bg-vice {
    background-image: linear-gradient(to top, rgb(224,14,150), rgb(44,141,237));
}

@mixin bg-lime {
    background-image: linear-gradient(to bottom, #007c5b, #c0eca6);
}
