$darkgrey: #212121;
$darkgrey2: #333333;
$lightgrey: #999999;
$white: #ffffff;
$orange: #FD971F;
$green: #A6E22E;
$cyan: #66D9EF;
$magenta: #F92672;
$purple: #AE81FF;
$lightyellow: #E6DB74;
$color10: #75715E;


$color7: rgba(51,51,51,0.5);
$color9: rgba(86,86,86,0.5);
$color11: rgba(160,160,160,0.5);
@mixin ng-show-hide {
    &.ng-hide-remove {
        max-height: 0;
        display: block !important;

        &.ng-hide-remove-active {
            max-height: 1000px;
        }
    }

    &.ng-hide-add {
        max-height: 1000px;
        display: block !important;

        &.ng-hide-add-active {
            max-height: 0;
        }
    }
}

@mixin ng-if {
    &.ng-enter {
        opacity: 0;
        display: block !important;

        &.ng-enter-active {
            opacity: 1;
        }
    }

    &.ng-leave {
        opacity: 1;
        display: block !important;

        &.ng-leave-active {
            opacity: 0;
        }
    }
}
