@import "icons";
@import "header";
@import "stream";
@import "fader";
@import "spinner";
@import "colorcycle";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Segoe UI';
}
a {
    text-decoration: none;
}
button, .btn {
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
#flex {
    display: flex;
    flex-direction: row;
}

#main {
    flex: 2 100%;
}





