@import "variables";
@import "icons";
@import "header";
@import "stream";
@import "fader";
@import "spinner";
@import "colorcycle";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
    background: none;
}

::-webkit-scrollbar-track {
    background: #fff;;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}
html {
    background: #00bbbb;
}
body {
    margin: 0;
    font-family: 'Segoe UI';
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    background-attachment: fixed;
}
a {
    text-decoration: none;
}
button, .btn {
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
#flex {
    display: flex;
    flex-direction: row;
}

#main {
    flex: 2 100%;
    max-width: 1090px;
    min-height: 1080px;
}
