doctype html
html.no-js(data-ng-app='sc2App', data-ng-class='[theme.bgr, theme.color]', data-theme='')
    head
        meta(charset='utf-8')
        title sc2
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='shortcut icon', href='sc__.png', type='image/png')
        //- base(href='/')

        // build:css({.tmp,app}) styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        // endbuild

    body.vbox(data-ng-controller='pageCtrl', data-ng-class="{'login': !user, 'fs-scope': fsScope}")
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        #webGLWrapper(data-ng-show='fsScope', data-ng-click='helpers.toggleOsc()')

        #login.hbox(data-ng-show='!user', data-ng-cloak='')
            .wrapper
                img(src='images/sc2_logo.png')
                button#connect(data-ng-click='connect()')
                    | connect with
                    img(src='images/soundcloud_logo_white.png')

        //- .system-message
        //-     | system message: code refactoring is being constantly done, you may experience outages and non working states
        .hbox(data-ng-show='user', data-ng-cloak='')
            aside(ui-view='sidebar')
            #main(ui-view='main')

        // Google Analytics: change UA-XXXXX-X to be your site's ID
        script.
            // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            // ga('create', 'UA-XXXXX-X');
            // ga('send', 'pageview');
        script(src='http://connect.soundcloud.com/sdk.js')

        // build:js(.) scripts/vendor.js
        // bower:js
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-animate/angular-animate.js')
        script(src='bower_components/angular-sanitize/angular-sanitize.js')
        script(src='bower_components/momentjs/moment.js')
        script(src='bower_components/ngstorage/ngStorage.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
        // endbower

        script(src='bower_components/threejs/build/three.js')
        script(src='bower_components/threejs/examples/js/postprocessing/EffectComposer.js')
        script(src='bower_components/threejs/examples/js/postprocessing/RenderPass.js')
        script(src='bower_components/threejs/examples/js/postprocessing/ShaderPass.js')
        script(src='bower_components/threejs/examples/js/postprocessing/MaskPass.js')
        script(src='bower_components/threejs/examples/js/postprocessing/BloomPass.js')
        script(src='bower_components/threejs/examples/js/shaders/CopyShader.js')
        script(src='bower_components/threejs/examples/js/shaders/ConvolutionShader.js')
        script(src='bower_components/threejs/examples/js/shaders/HorizontalBlurShader.js')
        script(src='bower_components/threejs/examples/js/shaders/VerticalBlurShader.js')
        script(src='bower_components/threex.badtvpproc/shaders/FilmShader.js')
        // endbuild

        // build:js({.tmp,app}) scripts/scripts.js
        script(src='scripts/app.js')

        script(src='scripts/services/UserService.js')
        script(src='scripts/services/audiocontext.js')
        script(src='scripts/services/canvasService.js')
        script(src='scripts/services/AdditiveBlendShader.js')
        script(src='scripts/services/soundCloud.js')
        script(src='scripts/services/streamService.js')
        script(src='scripts/services/favoritesService.js')
        script(src='scripts/services/followingsService.js')
        script(src='scripts/services/contentService.js')
        script(src='scripts/services/helpers.js')
        script(src='scripts/services/animation.js')

        script(src='scripts/directives/player.js')
        script(src='scripts/directives/canvas.js')
        script(src='scripts/directives/theme.js')
        script(src='scripts/directives/repeatfinished.js')

        script(src='scripts/controllers/page.js')
        script(src='scripts/controllers/stream.js')
        script(src='scripts/controllers/favorites.js')
        script(src='scripts/controllers/followings.js')
        // endbuild

        // build:js({.tmp,app}) scripts/config.js
        script(src='scripts/config.js')
        // endbuild
