<div class="fl clearfix" id="now-playing" data-ng-if="playerData.currentTrack">
    <div class="fl">
        <button class="play btn fl" data-ng-click="controlAudio.play(playerData.lastPlayedIndex)" data-ng-show="playerData.playingIndex === null"><span class="icon-play"></span></button>
        <button class="pause btn fl" data-ng-click="controlAudio.pause()" data-ng-show="playerData.playingIndex != null"><span class="icon-pause"></span></button>
        <img class="user-avatar fl" data-ng-src="{{playerData.currentTrack.avatar}}" />
    </div>
    <div class="fl">
        <div class="details">
            {{playerData.currentTrack.username}}
            <span class="date">{{playerData.currentTrack.created}}</span>
        </div>
        <div class="title">
            {{playerData.currentTrack.title}}
        </div>
    </div>
</div>
<div id="fixed">
    <!-- row 1 -->
    <div class="row page-header clearfix">

        <div id="fader" class="fr">
            <div class="rectangles">
                <div data-ng-repeat="rect in helpers.getTimes(7) track by $index" class="rect{{::$index+1}} rect"></div>
            </div>
            <input type="range" min="0" max="100" data-ng-change="helpers.setVolume(gain.value)" data-ng-model="gain.value" data-ng-init="gain.value = 100">
            <div class="overlay" data-ng-style="{'width': gain.value / 2 + 'px'}">
                <div class="rectangles">
                    <div data-ng-repeat="rect in helpers.getTimes(7) track by $index" class="rect{{::$index+1}} rect"></div>
                </div>
            </div>
        </div>
    </div>
            <!-- <div class="user">
                <img class="user-avatar" data-ng-src="{{user.avatar_url}}"/><span>{{user.username}}</span>
            </div> -->

    <div class="row" id="credits">
        <img src="images/sc2.png"/>
        <img src="images/soundcloud_powered_by_large_white.png"/>

    </div>
    <!-- row 2 -->
    <div class="row">
        <div id="waveform" data-ng-class="{'busy': playerData.seeking}">
            <div class="seek-time" data-ng-show="seekCursor.xpos" data-ng-style="{'left': seekCursor.xpos + 'px'}">{{seekCursor.time}}</div>
            <div id="waveform-canvas-buffer-wrapper" data-ng-style="{'width': (playerData.buffered / playerData.duration) * 100 + '%'}">
                <div id="waveform-canvas-buffer" canvas-context="waveformBufferContext"></div>
            </div>
            <div id="waveform-canvas" canvas-context="waveformContext"></div>
            <div id="waveform-canvas-progress-wrapper" data-ng-style="{'width': (playerData.currentTime / playerData.duration) * 100 + '%'} ">
                <div id="waveform-canvas-progress" canvas-context="waveformProgressContext"></div>
            </div>
            <div id="waveform-seekbar" data-ng-click="playerData.playingIndex != null && controlAudio.seekTo($event)" data-ng-mousemove="playerData.playingIndex != null && (seekCursor = controlAudio.seekPreview($event))" data-ng-mouseleave="seekCursor = {}"></div>
        </div>
        <div class="time" data-ng-if="playerData.currentTrack">
            <div class="current">{{playerData.currentTimeFormatted}}</div>
            <div class="total">{{playerData.currentTrack.durationFormatted}}</div>
        </div>
    </div>

    <!-- row 3 -->
    <div class="row" id="visuals" data-ng-class="{'disabled': status.access}">
        <div class="status" data-ng-if="status.access">
            {{status.access}}
        </div>
        <div class="">
            <div id="osc" canvas-context="oscContext" data-ng-click="helpers.toggleOsc(true)"></div>

            <div id="analyser">
                <div id="analyser-bottom" canvas-context="analyserBottomContext"></div>
                <div id="analyser-top" canvas-context="analyserTopContext"></div>
            </div>
        </div>
    </div>

    <!-- row 4 -->


</div>
