#audioplayer(data-player)

    .row.page-header.clearfix
        #fader.fr
            .rectangles
                .rect(data-ng-repeat='rect in getTimes(7) track by $index', class='rect{{::$index+1}}')
            input(type='range', min='0', max='100', data-ng-change='helpers.setVolume(gain.value)', data-ng-model='gain.value', data-ng-init='gain.value = 100', data-ng-disabled='!playerData.vis')
            .overlay(data-ng-style="{'width': gain.value / 2 + 'px'}", data-ng-class="{'disabled': !playerData.vis}")
                .rectangles
                    .rect(data-ng-repeat='rect in getTimes(7) track by $index', class='rect{{::$index+1}}')

    #now-playing.fl.clearfix(data-ng-if='playerData.currentTrack')
        .fl
            button.play.btn.fl(data-ng-click='controlAudio.play(playerData.currentTrack.index, playerData.currentTrack.favList)', data-ng-show='!playerData.currentTrack.isPlaying')
                span.icon-play
            button.pause.btn.fl(data-ng-click='controlAudio.pause()', data-ng-show='playerData.currentTrack.isPlaying')
                span.icon-pause
            img.user-avatar.fl(data-ng-src='{{playerData.currentTrack.avatar}}')
        .fl
            .details
                | {{playerData.currentTrack.username}}
                span.date {{playerData.currentTrack.created}}
            .title
                | {{playerData.currentTrack.title}}

    #waveform(data-ng-class="{'busy': playerData.seeking}")
        .seek-time(data-ng-show='seekCursor.xpos', data-ng-style="{'left': seekCursor.xpos + 'px'}") {{seekCursor.time}}
        #waveform-canvas-buffer-wrapper(data-ng-style="{'width': (playerData.buffered / playerData.duration) * 100 + '%'}")
            #waveform-canvas-buffer(canvas-context='waveformBufferContext')
        #waveform-canvas(canvas-context='waveformContext')
        #waveform-canvas-progress-wrapper(data-ng-style="{'width': (playerData.currentTime / playerData.duration) * 100 + '%'} ")
            #waveform-canvas-progress(canvas-context='waveformProgressContext')
        #waveform-seekbar(data-ng-click='controlAudio.seekTo($event)', data-ng-mousemove='controlAudio.seekPreview($event)', data-ng-mouseleave='seekCursor = {}')
    .time(data-ng-if='playerData.currentTrack')
        .current {{playerData.currentTimeFormatted}}
        .total {{playerData.currentTrack.durationFormatted}}

    #visuals.row(data-ng-class="{'disabled': status.access}")
        .status(data-ng-if='status.access')
            | {{status.access}}
        div
            #osc(canvas-context='oscContext', data-ng-click='helpers.toggleOsc(true)')
            #analyser
                #analyser-bottom(canvas-context='analyserBottomContext')
                #analyser-top(canvas-context='analyserTopContext')

    #credits.row
        img(src='images/sc2.png')
        img(src='images/soundcloud_powered_by_large_white.png')
        span.version v{{info}}
