<!-- SEARCH bar row -->
<div class="page-header row">
    <span class="icon-search icon"></span>

    <!-- search stream -->
    <div class="search" data-ng-show="activeStream === 'stream'">
        <input
            type="text"
            autocomplete="off"
            data-ng-model="searchStream.title"
            data-ng-minlength="5"
            data-ng-init="searchStream.title = ''"
            placeholder="Search for track title in stream"
            class="form-control"/>
        <button class="close" data-ng-show="searchStream.title !== ''" data-ng-click="searchStream.title = ''">&times;</button>
    </div>

    <!-- search favorites -->
    <div class="search" data-ng-show="activeStream === 'favorites'">
        <input
            type="text"
            autocomplete="off"
            data-ng-model="searchFavorites.title"
            data-ng-minlength="5"
            data-ng-init="searchFavorites.title = ''"
            placeholder="Search for track title in favorites"
            class="form-control"/>
        <button class="close" data-ng-show="searchFavorites.title !== ''" data-ng-click="searchFavorites.title = ''">&times;</button>
    </div>

    <!-- search followed users -->
    <div class="search" data-ng-show="activeStream === 'followings'">
        <input
            type="text"
            autocomplete="off"
            data-ng-model="searchFollowed.username"
            data-ng-minlength="5"
            data-ng-init="searchFollowed.username = ''"
            placeholder="Search for followed user"
            class="form-control"/>
        <button class="close" data-ng-show="searchFollowed.username !== ''" data-ng-click="searchFollowed.username = ''">&times;</button>
    </div>

    <div id="new" data-ng-show="filtered">
        <span class="new-count">
            <span class="icon icon-new"></span>
            <span>{{filtered = (stream | filter: {isNew : true}).length}} new</span>
        </span><br>
        <span class="last-visit">last visit: {{::user.lastFetch}}</span>
    </div>
    <div id="settings">
        <button class="btn" data-ng-click="helpers.toggleReposts()" id="reposts-toggle" data-ng-class="{'reposts': showReposts}" title="{{showReposts ? 'hide reposts' : 'show reposts'}}"><span class="icon-repost"></span></button>
        <button class="btn" data-ng-click="toggleThemeChanger()"><span class="icon-themes"></span></button>
        <button class="btn" data-ng-click="logout()" id="logout" class="" title="logout"><span class="icon-logout"></span></button>
        <div id="theme-changer" data-ng-show="themeChanger">
            <span>background</span>
            <button data-ng-click="changeTheme('default')" data-ng-class="{'active': theme.bgr === 'default'}" class="bg-default"></button>
            <button data-ng-click="changeTheme('vice')" data-ng-class="{'active': theme.bgr === 'vice'}" class="bg-vice"></button>
            <button data-ng-click="changeTheme('lime')" data-ng-class="{'active': theme.bgr === 'lime'}" class="bg-lime"></button>
            <span>foreground</span>
            <button data-ng-click="changeTheme('light', 1)" data-ng-class="{'active': theme.color === 'light'}" class="fg-light"></button>
            <button data-ng-click="changeTheme('dark', 1)" data-ng-class="{'active': theme.color === 'dark'}" class="fg-dark"></button>
            <button data-ng-click="changeTheme('transparent', 1)" data-ng-class="{'active': theme.color === 'transparent'}" class="fg-transparent"></button>
        </div>
    </div>
</div>

<div class="error-overlay" data-ng-if="status.error">
    <div class="row" id="error">
        <span class="icon-warning icon"></span>Error reaching SoundCloud service.<br>
        Please check the <a target="_blank" href="http://status.soundcloud.com/">official SoundCloud status blog</a> for more info.
    </div>
</div>

<div class="loading-overlay" data-ng-if="status.loading">
    <div class="loading">
        <div class="spinner">
            <div data-ng-repeat="rect in helpers.getTimes(22) track by $index" class="rect{{::$index}}"></div>
            loading...
        </div>
    </div>
</div>
<div id="active-stream-switch" class="clearfix" data-ng-init="activeStream = 'stream'">
    <button data-ng-click="activeStream = 'stream'" data-ng-class="{'active': activeStream === 'stream'}">stream <span class="count">{{stream.length}}</span></button>
    <button data-ng-click="activeStream = 'favorites'" data-ng-class="{'active': activeStream === 'favorites'}">favorites <span class="count">{{likedTracks.length}}</span></button>
    <button data-ng-click="activeStream = 'followings'" data-ng-class="{'active': activeStream === 'followings'}">following <span class="count">{{followings.length}}</span></button>
</div>

<!-- stream -->
<div class="row" id="tiles" data-ng-show="activeStream === 'stream'">
    <div
        data-ng-repeat="track in stream | filter:searchStream track by track.index"
        class="{{::track.type}} item row"
        data-ng-class="{'active': helpers.isCurrent(track.index, false), 'new': track.isNew}"
        data-ng-show="showReposts || track.type === 'track' || track.type === 'playlist'"
        data-ng-click="track.isNew = false"
        data-ng-include="'views/item.html'"
        data-repeat-finished>
    </div>
</div>

<!-- favorites -->
<div class="row" id="favorites" data-ng-show="activeStream === 'favorites'">
    <div
        data-ng-repeat="track in likedTracks | filter:searchFavorites track by track.index"
        class="{{::track.type}} item row"
        data-ng-class="{'active': helpers.isCurrent(track.index, true), 'new': track.isNew}"
        data-ng-include="'views/item.html'"></div>
</div>

<!-- followed users -->
<div class="row" id="followings" data-ng-show="activeStream === 'followings'">
    <div
        data-ng-repeat="user in followings | filter:searchFollowed track by user.index"
        class="item row"
        data-ng-include="'views/user.html'"></div>
</div>

<div class="row" data-ng-show="activeStream === 'stream'">
    <button class="btn" id="more" data-ng-click="getTracks()" data-ng-show="!status.loading">more</button>
</div>
