<!-- SEARCH bar row -->
<div class="page-header row">
    <span class="icon-search icon"></span>
    <input
        type="text"
        autocomplete="off"
        data-ng-model="search.title"
        data-ng-minlength="5"
        data-ng-init="search.title = ''"
        placeholder="Search for track title"
        class="form-control"/>
    <button class="close" data-ng-show="search.title !== ''" data-ng-click="search.title = ''">&times;</button>
    <div id="new" data-ng-show="filtered">
        <span class="new-count">
            <span class="icon icon-new"></span>
            <span>{{filtered = (stream | filter: {isNew : true}).length}} new</span>
        </span><br>
        <span class="last-visit">last visit: {{::user.lastFetch}}</span>
    </div>
    <div id="settings">
        <button class="btn" ng-click="helpers.toggleReposts()" id="reposts-toggle" ng-class="{'reposts': showReposts}" title="toggle reposts"><span class="icon-repost"></span></button>
        <button class="btn" ng-click="logout()" id="logout" class="" title="logout"><span class="icon-switch"></span></button>
    </div>
</div>

<div class="error-overlay" ng-if="status.error">
    <div class="row" id="error">
        <span class="icon-warning icon"></span>Error reaching SoundCloud service.<br>
        Please check the <a target="_blank" href="http://status.soundcloud.com/">official SoundCloud status blog</a> for more info.
    </div>
</div>

<div class="loading-overlay" ng-if="status.loading">
    <div class="loading">
        <div class="spinner">
            <div ng-repeat="rect in helpers.getTimes(22) track by $index" class="rect{{::$index}}"></div>
            loading...
        </div>
    </div>
</div>
<div id="active-stream-switch" class="clearfix" ng-init="activeStream = 'stream'">
    <button ng-click="activeStream = 'stream'" ng-class="{'active': activeStream === 'stream'}">stream <span class="count">{{stream.length}}</span></button>
    <button ng-click="activeStream = 'favorites'" ng-class="{'active': activeStream === 'favorites'}">favorites <span class="count">{{likedTracks.length}}</span></button>
</div>
<div class="row" id="favorites" ng-show="activeStream === 'favorites'">
    <div
        ng-repeat="track in likedTracks"
        class="{{::track.type}} item row"
        ng-class="{'active': helpers.isCurrent(track.index, true), 'new': track.isNew}"
        ng-include="'views/item.html'"></div>
</div>

<div class="row" id="tiles" ng-show="activeStream === 'stream'">
    <div
        ng-repeat="track in stream | filter:search"
        class="{{::track.type}} item row"
        ng-class="{'active': helpers.isCurrent(track.index, false), 'new': track.isNew}"
        ng-show="showReposts || track.type === 'track' || track.type === 'playlist'"
        ng-click="track.isNew = false"
        ng-include="'views/item.html'">
    </div>
</div>
<div class="row" ng-show="activeStream === 'stream'">
    <button class="btn" id="more" ng-click="getTracks()" ng-show="!status.loading">more</button>
</div>
