.flex
    .meta
        .fl
            img.user-avatar(data-ng-src='{{::user.avatar_url}}')
    .details
        .row.head
            .main
                .row
                    div
                        a(data-ng-href='{{::user.permalink_url}}', target='_blank') {{::user.username}}
                    .website
                        a(data-ng-href='{{::user.website}}', target='_blank') {{::user.website}}
                .row.toggledesc
                    button.btn(data-ng-init='desc = false', data-ng-click='desc = !desc', data-ng-show='user.description', data-ng-class="{'shown': desc}")
                        span(class="icon-expand_{{desc ? 'less' : 'more'}}")
            .buttons
                span
                    span.icon-audiotrack
                    | {{::user.track_count}}
                span
                    span.icon-list
                    | {{::user.playlist_count}}
                button.follow(data-ng-click="user.followingFlag ? follow('delete', user.index) : follow('put', user.index)") {{user.followingFlag ? 'unfollow' : 'follow'}}
        .row.description(data-ng-show='desc')
            .track-desc(data-ng-bind-html='::user.description')
